<h1> Welcome to Nick and Allen's page for Top Ten TV Shows!</h1>
<ul>
    <li><%= link_to "The Wire", "/the_wire" %></li>
    <li><%= link_to "Breaking Bad", "/breaking_bad" %></li>
    <li><%= link_to "Parks and Rec", "/parks_and_rec" %></li>
    <li><%= link_to "Good Place", "/good_place" %></li>
    <li><%= link_to "Kobra Kai", "/kobra_kai" %></li>
    <li><%= link_to "Shameless", "/shameless" %></li>
    <li><%= link_to "Below Deck", "/below_deck" %></li>
    <li><%= link_to "Ru Pauls Drag Race", "/ru_pauls_drag_race" %></li>
    <li><%= link_to "The Deuce", "/the_deuce" %></li>
    <li><%= link_to "Peaky Blinders", "/peaky_blinders" %></li>
</ul>


