<h1> Top Ten Things </h1>
<ol>
    <li><%=link_to'Web Dev','/Web_Dev'%></li>
    <li><%=link_to'Hiking','/Hiking'%></li>
    <li><%=link_to'Photography','/Photography'%></li>
    <li><%=link_to'Sports','/Sports'%></li>
    <li><%=link_to'Music','/Music'%></li>
    <li><%=link_to'Sailing','/Sailing'%></li>
    <li><%=link_to'Camping','/Camping'%></li>
    <li><%=link_to'Dancing','/Dancing'%></li>
    <li><%=link_to'Drone Flying','/Drone_Flying'%></li>
    <li><%=link_to'Drinking','/Drinking'%></li>

</ol>