<h1>Top 10</h1>
<h3>Created by Elyse and Fernando at LEARN Academy!</h3>
<h2>Disney Favorites<h2>
<ol>
  <li><%=link_to 'Aladdin', '/aladdin'%></li>
  <li><%=link_to 'Goofy Movie', '/goofymovie'%></li>
  <li><%=link_to 'Big Hero Six', '/bigherosix'%></li>
  <li><%=link_to 'Monsters Inc', '/monstersinc'%></li>
  <li><%=link_to 'Mary Poppins', '/marypoppins'%></li>
  <li><%=link_to 'Frozen', '/frozen'%></li>
  <li><%=link_to 'Tangled', '/tangled'%></li>
  <li><%=link_to 'Beauty and the Beast', '/beautyandthebeast'%></li>
  <li><%=link_to 'Moana', '/moana'%></li>
  <li><%=link_to 'Little Mermaid', '/littlemermaid'%></li>
</ol>
<p>Please note: It is extremely hard to rank anything Disney...because it is all amazing!  This list is not definite and by no means chose any bias towards a specific movie.  Thank you.<p>
