<h3>Edit Your Blog Here</h3>

<%= form_with model: @post, method: :patch, local: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <br />
  <%= form.label :content %>
  <%= form.text_area :content, size: '60x10' %>
  <br />
  <%= form.submit 'Submit Change!' %>
  <%= form.submit 'Clear', :type => 'reset' %>
  <%=  %>

<% end %>

<br />
<p>Back to <%= link_to 'blogs', posts_path %></p>
