<h1> 
<%= @post.title %>
</h1>

<p> <%= @post.content %> </p>
<br />
<%= link_to 'Edit Post', edit_post_path%>
<br />
<%= link_to 'Delete Post', delete_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }%>
<br />
<br />
<p> <%= link_to 'Home Page', posts_path %> </p>