<h1>Tangled </h1>

<p>Once upon a time in a far away land there was a princess called <%=@noun%>. She would <%=@verb%> all day long. Her <%=@adjective%> would <%=@verb%> until <%=@noun%> would retire for the day. At night she would read <%=@adverb%> and <%=@verb%> to help her sleep.</p>