<h1>Our top 10 Movies ! </h1>

<h3>Teams Names</h3>
<h3>Raul</h3>
<h3>Kevinn</h3>
<ul>
    <li><%= link_to 'forest gump', '/forest_gump' %> </li>
    <li><%= link_to 'shrek', '/shrek' %> </li>
    <li><%= link_to 'tokyo_drift', '/tokyo_drift' %> </li>
    <li><%= link_to 'ghost_in_the_shell', '/ghost_in_the_shell' %> </li>
    <li><%= link_to  'ip_man', '/ip_man' %> </li>
    <li><%= link_to 'player_one', '/player_one' %> </li>
    <li><%= link_to 'pulp_fiction', '/pulp_fiction' %> </li>
    <li><%= link_to 'the_goonies', '/the_goonies' %> </li>
    <li><%= link_to 'the_mummy', '/the_mummy' %> </li>
    <li><%= link_to 'up', '/up' %> </li>
</ul>